type hal_bluetooth_variscite, domain;
type hal_bluetooth_variscite_exec, exec_type, file_type;

hal_server_domain(hal_bluetooth_variscite, hal_bluetooth)

init_daemon_domain(hal_bluetooth_variscite)
