allow shell procrank_exec:file { getattr };
allow shell proc_uid_cputime_showstat:file { getattr read open };
allow shell proc_uid_cputime_removeuid:file { getattr read open };
allow shell unlabeled:lnk_file { read };
