allow system_server unlabeled:dir {relabelfrom rw_dir_perms};
allow system_server unlabeled:sock_file {link unlink rw_file_perms};
allow system_server system_data_file:file {relabelto rw_file_perms};
allow system_server system_data_file:dir {relabelto rw_dir_perms};
allow system_server system_file:file {execmod};
