allow init vendor_configs_file:dir  { mounton };
allow init debugfs_wifi_tracing:dir { write add_name };
allow init debugfs_bootreceiver_tracing:dir { write add_name };
