# Allow kernel firmware loader to access BRCM firmware files
allow kernel vendor_firmware_file:dir { search open read getattr };
allow kernel vendor_firmware_file:file { open read getattr };
