allow hal_bluetooth_default system_file:file read;
allow hal_bluetooth_default system_file:file open;
allow hal_bluetooth_default system_file:file getattr;
allow hal_bluetooth_default sysfs_rfkill:file write;

set_prop(hal_bluetooth_default, vendor_public_default_prop)
get_prop(hal_bluetooth_default, vendor_public_default_prop)
