allow hal_bluetooth_default system_file:file read;
allow hal_bluetooth_default system_file:file open;
allow hal_bluetooth_default system_file:file getattr;
allow hal_bluetooth_default sysfs_rfkill:file write;

allow hal_bluetooth_default default_prop:file read;
allow hal_bluetooth_default default_prop:file open;
allow hal_bluetooth_default default_prop:file getattr;
allow hal_bluetooth_default default_prop:file map;
