allow vendor_init self:capability sys_module;
#allow vendor_init wifi_data_file:dir { search setattr };
#allow vendor_init bluetooth_prop:property_service set;
allow vendor_init vendor_wifi_init_prop:file read;
