on init
    # disable cursor blink for fbcon, if no splash screen support
    write /sys/class/graphics/fbcon/cursor_blink 0

    setprop sys.usb.configfs 1

on post-fs-data
    setprop sys.usb.controller "5b130000.usb"

on early-init
    # register the vehicle_rpmsg_m4 which will relase display module
    write /sys/devices/platform/vehicle_rpmsg_m4/register 1
    # register the vehicle_rpmsg_m4 which will relase display module in XEN
    write /sys/devices/platform/passthrough/passthrough\:vehicle_rpmsg_m4/register  1

on post-fs-data
    setprop sys.usb.controller "5b130000.usb"
