type init-brcm-wifibt-sh, domain;
permissive init-brcm-wifibt-sh;
type init-brcm-wifibt-sh_exec, exec_type, vendor_file_type, file_type;
permissive init-brcm-wifibt-sh_exec;

init_daemon_domain(init-brcm-wifibt-sh)

allow init-brcm-wifibt-sh vendor_shell_exec:file rx_file_perms;
allow init-brcm-wifibt-sh vendor_toolbox_exec:file rx_file_perms;

# Set the sys.brcm.wifibt.completed property
#set_prop(init-brcm-wifibt-sh, public_vendor_system_prop)

# Allow insmod
allow init-brcm-wifibt-sh self:capability sys_module;
allow init-brcm-wifibt-sh system_file:system module_load;
allow init-brcm-wifibt-sh vendor_file:system module_load;

# some more permissions
# extending the rules under system/sepolicy
allow init-brcm-wifibt-sh init:unix_stream_socket connectto;
allow init-brcm-wifibt-sh property_socket:sock_file write;
allow init-brcm-wifibt-sh proc:file { getattr open read };
allow init-brcm-wifibt-sh proc_modules:file { getattr open read };
allow init-brcm-wifibt-sh self:capability net_admin;
allow init-brcm-wifibt-sh sysfs:dir { add_name write };
allow init-brcm-wifibt-sh sysfs:file { create getattr open read write };
allow init-brcm-wifibt-sh vendor_file:file execute_no_trans;

allow init-brcm-wifibt-sh sysfs_net:dir search;
allow init-brcm-wifibt-sh sysfs_rfkill:dir search;
allow init-brcm-wifibt-sh sysfs_rfkill:file { open write };

allow init-brcm-wifibt-sh proc_cmdline:file { getattr open read };
allow init-brcm-wifibt-sh sysfs_soc:dir search;
allow init-brcm-wifibt-sh sysfs_soc:file { getattr open read };

allow init-brcm-wifibt-sh debugfs_mmc:dir search;

allow hal_wifi_supplicant_default vendor_data_file:file setattr;

allow init-brcm-wifibt-sh proc_cmdline:file { getattr open read };

allow init-brcm-wifibt-sh device:chr_file { ioctl open read };
