allow mediaserver tmpfs:dir rw_dir_perms;
allow mediaserver tmpfs:file rw_file_perms;
allow mediaserver debugfs_tracing:file { write open };
allow mediaserver mediaserver:netlink_kobject_uevent_socket { create setopt bind read };
